.pageWrap {
    width: 980px;
    margin: 0 auto;
}

.pageBody {
    margin: 20px 0;
}
.pageBody ul,
.pageBody li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.pageBody .searchFilter {
    margin-bottom: 10px;
}
.pageBody .resultRow {
    height: 29px;
    line-height: 29px;
    background-color: #ccc;
    border-bottom: 1px solid #eee;
}
.pageBody .resultRow a {
    display: block;
    text-decoration: none;
    padding: 0 20px;
}
.pageBody .resultRow .active,
.pageBody .resultRow a:hover {
    background-color: #666;
    color: #fff;
}
.pageBody .resultDetail {
    margin-bottom: 1px;
}